html {
    font-size: 16px;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }

.grid > div {
    background: #eee;
}
.grid > div:nth-child(odd){
    background-color: #ddd;
}
.grid{
    display:grid;
    grid-template-columns: 10% 8% 3% 67% 2% 10%;
}
.letter , .bracket{
    font-size: 3rem;
}
.table{
    font-size:1rem;
    text-align: center;
}
input[type=number]{
    text-align: center;
    width: 5vw;
    height: 5vh;
}

/* CSS */
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}
/*
.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}
*/
.activ , .button-23:hover {
  background-color: #ada9a9;
  border-color: #000000;
  transform: scale(.96);
  color:white;
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

